<!DOCTYPE HTML>
<head>
	<meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/normalize.css">
	<link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">

</head>
<body>
	<div class="topbar"> 
	<a href="../index.html"><div class="fa fa-angle-left fa-3x"><div class="back">BACK</div></div></a>
	<div class="sharp">
		<div>SSI SHARP</div> 
		<span class="sub">Sexual Harassment/Assault Response Prevention</span>
		</div>   
	</div>

	<div class="title"> title </div>

	<div class="wrap"> 
	<div class="lead-in">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, deleniti impedit consectetur reprehenderit numquam incidunt</div>
	<div class="slider">
				ACTION ONE
				<div class="slider-content">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, expedita. Beatae est nisi nulla quibusdam quidem quo laudantium iure! Accusantium nihil libero ipsum velit vitae debitis provident at! Itaque, enim.
				</div>
			</div>
			<div class="slider">
				ACTION ONE
				<div class="slider-content">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi labore minus enim ullam. Aliquid, unde, quod? Quia unde itaque sint, velit labore aspernatur dignissimos commodi fugit. Cum fugiat tenetur architecto!
				</div>
			</div>
			<div class="slider">
				ACTION ONE
				<div class="slider-content">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit deleniti magnam voluptatum voluptatem repellat voluptates molestiae ut adipisci corporis ad porro ullam aut sint odio reiciendis, itaque hic odit fuga!
				</div>
			</div>
			<div class="slider">
				ACTION ONE
				<div class="slider-content">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit ad assumenda quos blanditiis nisi provident eligendi alias minus, molestiae omnis, architecto, similique aliquam! Harum repellendus dolorem architecto quos facilis velit.
				</div>
			</div>
			<div class="slider">
				ACTION ONE
				<div class="slider-content">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate nemo quasi officia quos fuga non earum, nobis natus tempore commodi beatae, sunt, doloremque mollitia laudantium cupiditate nam nostrum alias delectus.
				</div>
			</div>
			<div class="slider">
				ACTION ONE
				<div class="slider-content">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, deleniti impedit consectetur reprehenderit numquam incidunt, velit suscipit ipsa inventore dolore aliquid quidem distinctio, tenetur at error, culpa est dolores soluta.
				</div>
			</div>
	
	</div>
	<script type="text/javascript" src="../js/scripts.js"></script>
	<script type="text/javascript" src="../polyfill/classlist.js"></script>
	<script type='application/javascript' src='../js/fastclick.js'></script>
	<script>
	if ('addEventListener' in document) {
	document.addEventListener('DOMContentLoaded', function() {
		FastClick.attach(document.body);
	}, false);
} 
	</script>
</body>
</html>